
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem 0 3rem;
    
    .nav-logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        @media screen and (max-width: 400px) {
            flex-direction: column;
        }
        
        .logo{
            height: 8rem;
        }
    }

    .nav-menu{
        display: flex;
        justify-items: center;
        align-items: end;
    }

    .navbar-nav{
        @media screen and (min-width: 481px) and (max-width: 768px){
            gap: 0;
        }
    }

    position: sticky;
    top: 0;
    z-index: 1020;
    background-color: white;

    @media screen and (max-width: 600px) {
        position: relative;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}

.prop-scroll{
    scroll-margin-top: 14rem;

    @media screen and (max-width: 400px) {
        scroll-margin-top: 12rem;
    }
}

.carousel-item{
    height: 30rem;

    img{
        height: 100%;
        object-fit: cover;
    }

    @media screen and (max-width: 990px) {
        height: 25rem;
    }
    @media screen and (max-width: 768px) {
        height: 20rem;
    }
}

.div-subtitulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 3rem;

    a i{
        display: flex;
        align-items: center;
    }

    @media screen and (max-width: 1122px) {
    align-items: left;
  }
    @media screen and (max-width: 991px) {
    align-items: center;
    padding: 0;
  }
}

.contenedor-cajas{
    padding: 3rem 3rem;

    @media screen and (max-width: 431px) {
        padding-left: 2.5rem;
        padding-right: 1rem;
    }
}

.caja-1{
    background-color: $color-tres;

    @media screen and (max-width:400px) {
        
    }

}

.caja-2{
    background-color: $color-tres;
}



.card-img-custom {
  height: 8rem;
  object-fit: cover;
}

.div-card-pack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    padding: 0;
    margin: 0;

    @media screen and (max-width:600px) {
     flex-direction: column;
     align-items: center;
     gap: 1rem;
    }
}

.div-contacto{
    padding: 3rem 3rem;
}

.caja-formulario{
    border: solid 1px $color-ocho;
    border-radius: 1rem;
    padding: 3rem;

    @media screen and (max-width:400px) {
        font-family: $fuente-open;
        font-size: 1rem;
        font-weight: 500;

    }
}

.boton-inscribirme{
    background-color: $color-seis;
    color: white;
    border: 1px solid $color-seis;
}

.footer{
    background-color: $color-uno;
    padding-left: 3rem;
    padding-right: 3rem;

    @media screen and (max-width: 600px){
                padding-left: 2rem;
                padding-right: 2rem;
            }

    
    .footer-1{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: .2rem;
    
        a{
            text-decoration: none;
        }
    
    }
    .footer-2{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    
    .footer-3{
        display: flex;
        align-content: center;
        justify-content: end;

        @media screen and (max-width: 530px){
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        
        .logo-footer{
            max-width: fit-content;
            height: 10rem;
            object-fit: contain;

            @media screen and (max-width: 530px){
                height: 8rem;
            }
        }
    }
}

.img-card-modal{
  height: 100%;
  width: 100%;
  object-fit: cover;

  @media screen and (max-width: 600px){
    height: 10rem;
    object-position: top;
  }
}

.offcanvas-1, .offcanvas-body{
    background-color: $color-tres;
}

.modal-body-servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @media screen and (max-width: 600px){
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

