$color-uno: #2b9999;
$color-dos: #d58256;
$color-tres: #acd0cf;
$color-cuatro: #677373;
$color-cinco: #45d1cd;
$color-seis: #d76e36;
$color-siete: #401a06;
$color-ocho: #164b4b;
$color-nueve: #efb08f;

$fuente-open: "Open Sans", sans-serif;
$fuente-reeanie: "Reenie Beanie", cursive;
$fuente-sunrise: "Waiting for the Sunrise", cursive;
$fuente-anton: "Anton", sans-serif;
$fuente-poiret: "Poiret One", sans-serif;
$fuente-gloria: "Gloria Hallelujah", cursive;
$fuente-league: "League Gothic", sans-serif;
$fuente-antonio: "Antonio", sans-serif;