@import url('https://fonts.googleapis.com/css2?family=Anton&family=Antonio:wght@100..700&family=Gloria+Hallelujah&family=League+Gothic&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Poiret+One&family=Reenie+Beanie&family=Waiting+for+the+Sunrise&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@import './partials/variables';
@import './partials/_root';
@import './partials/_base';
@import './partials/_layaut';